.brand img {
	height: 20px;
}
.index .hero-unit {
	//position: absolute;
	//top: 0;
    background: transparent url("../img/phone-display-cropped.png") no-repeat top right;
    min-height:340px;
    margin-bottom: 0;
	margin-right: 30px;
}
.about .hero-unit { min-height: 340px; }
.about .hero-unit.data {
	background: transparent url("../img/data.png") no-repeat right bottom;
}
.hero-unit-copy {
	width: 300px;
	margin: 20px 0px 0;	
}
#form1 { width: 100%; overflow:hidden; padding-left: 0;}
#form1 header { display: none;}
#form1 ul {list-style: none; margin-left: 0px; margin-bottom: 10px;}
#form1 ul li {float:left;}
#form1 ul li.buttons {margin-left: 5px;}
#form1 #Field1 {width: 190px;}

.row.social { margin-left: 0px; padding-top:10px;}

